################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartFoundation/v18/.suo
/.vs/SmartFoundation/FileContentIndex/79ff4a24-1b25-41ca-8cad-d0a9aa67b89e.vsidx
/.gitignore
