############################
# Build Folders
############################
bin/
obj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / VS Code
############################
.idea/
.vscode/

############################
# NuGet
############################
*.nupkg
*.snupkg
project.assets.json
project.nuget.cache

############################
# Logs
############################
*.log

############################
# Publish
############################
publish/
wwwroot/uploads/

############################
# OS
############################
Thumbs.db
Desktop.ini
